body{
  background-image: url(img/dogYellow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  border-radius: 10px;
  height: 30px;
  font-size: 20px;
}
h1 {
  text-align: center;
  border-bottom: white solid 5px;
  padding-bottom: 20px;
}
